<!-- templates/success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Successful</title>
    <style>
        body {
    background-color: black;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h2 {
    font-size: 2em;
    color: aqua;
}
h4 {
    color: pink;
    margin-bottom: 0px;
}
p {
    margin-top: 10px;
    font-size: 1.2em;
}

a {
    text-decoration: underline;
}
    </style>
</head>
<body>
    <h2>Login Successful</h2>
    <br><br>
    <h4>Key:-</h4>
    <p>test123</p>
</body>
</html>
